django-notifications-hq
asn1crypto
astroid
backports.functools-lru-cache==1.5
certifi
chardet
click
configparser
coreapi
coreapi-cli
coreschema
cryptography
cssselect2
defusedxml
Django
django-appconf
django-background-tasks
django-compat
django-cryptography
django-debug-toolbar
django-easy-pdf
django-fernet-fields
django-settings-export
django-sitetree
django-stronghold
djangorestframework
djangorestframework-jwt
dnspython
enum34
future
futures
gunicorn
html5lib
httplib2
idna
ipaddress
isort
itypes
Jinja2
jira
lazy-object-proxy
lxml
MarkupSafe
mccabe
oauthlib
openvas_lib
ordereddict
pbr
pdfrw
Pillow
psycopg2-binary
PyBurprestapi
pycparser==2.18
PyJWT
pylint
PyPDF2
Pyphen
python-nmap
python-owasp-zap-v2.4
python-taint
python-whois
pytz==2017.3
reportlab
requests==2.20.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
selenium==3.8.0
singledispatch==3.4.0.3
six==1.11.0
tinycss2
uritemplate==3.0.0
urllib3==1.25
webencodings==0.5.1
whitenoise==3.3.0
wrapt==1.10.11
xhtml2pdf
beautifulsoup4==4.7.1
django-import-export==1.2.0
django-s3-storage==0.12.4
jsonfield==2.1.1
waitress==1.4.4
